{% extends 'layout.html' %}

{% block css %}
    <style>
        body {
          padding-top: 4.5rem;
        }
    </style>
    <style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
    </style>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/menu">Drei Netra</a>
    </nav>

    <div class="container-fluid">
        <div class="alert alert-primary" role="alert">
            Placeholder
        </div>
    </div>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="jumbotron">
                <figure class="figure">
                <img src="{{ url_for('video_feed') }}" style="width:640px;height:480px;">
                      <figcaption class="figure-caption">Live Feed</figcaption>
                </figure>
			</div>
		</div>
		<div class="col-md-6">
            <div class="jumbotron">
                <form method="POST">
              <div class="form-group row">
                <label for="inputTimeLapse" class="col-sm-2 col-form-label">Lapse Period</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="inputTimeLapse" placeholder="2" name="inputTimeLapse">
                </div>
              </div>
                    <br><br>
              <button class="btn btn-success" type="submit">Record</button>
            </form>
            </div>
		</div>
	</div>
</div>
{% endblock %}